<table>
    <tr *ngFor="let u of ubicacionesar">
        <td>

            <form (ngSubmit)="onSubmit()">

                <div style="width: 80% !important;MARGIN: 0% 5% 0% 10%;">

                    <div class="row col-xs-12">
                        <h1 style=" text-align: center;"><b> Editar Ubicacion</b></h1>
                    </div>

                    <div class="row col-xs-6">
                        <div class="col">
                            <label for="lnombre">Company</label>
                            <select class="form-select" id="sch_idcompanylocation" name="sch_idcompanylocation" aria-label="Default select example" [(ngModel)]="u.sch_idcompanylocation">


                              <option *ngFor="let area of companysar" [value]="area.com_idcompany">{{ area.com_name }}</option>


              </select>
                        </div>
                        <div class="col">
                            <label for="ldireccion">Area</label>
                            <select class="form-select" id="sch_area" name="sch_area" aria-label="Default select example" [(ngModel)]="u.sch_area">
                              <option *ngFor="let area of areasar" [value]="area.are_idarea">{{ area.are_description }}</option>
            </select>
                        </div>
                    </div>

                    <div class="row col-xs-6">
                        <div class="col">
                            <label for="lnombre">Hora inicial</label>
                            <input type="text" class="form-control" id="sch_initialtime" name="sch_initialtime" [(ngModel)]="u.sch_initialtime" placeholder="Hora inicial">
                        </div>
                        <div class="col">

                            <label for="lnombre">Hora Final</label>
                            <input type="text" class="form-control" id="sch_finaltime" name="sch_finaltime" [(ngModel)]="u.sch_finaltime" placeholder="Hora Final">
                        </div>
                    </div>


                    <div class="row col-xs-6">
                        <div class="col">
                            <div>&nbsp;</div>>
                        </div>
                        <div class="col">
                            <div>&nbsp;</div>>
                        </div>
                    </div>


                    <div class="row col-xs-6">
                        <div class="col">

                            <input type="hidden" class="form-control" id="id" name="id" [(ngModel)]="u.sch_iduser">
                        </div>
                        <div class="col">
                            <div>&nbsp;</div>
                        </div>
                    </div>






                    <div class="row col-xs-12">
                        <div>&nbsp;</div>
                    </div>
                    <div class="row col-xs-12">
                        <div class="col" style=" text-align: center;">
                            <button type="button" class="btn btn-primary" mat-dialog-close="true">Cancelar</button>
                        </div>
                        <div class="col" style=" text-align: center;">
                            <button type="submit" [mat-dialog-close]="true" class="btn btn-success">Guardar</button>
                        </div>
                    </div>


                    <div class="row col-xs-12">
                        <div>&nbsp;</div>
                    </div>
                </div>

            </form>
        </td>
    </tr>
</table>
